<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="content">
		<input type="hidden" name="totNews" id="totNews-ajax-{getContentId}" value="<f:count>{nsAlbums}</f:count>" />
		<input type="hidden" name="perPage" id="perPage-ajax-{getContentId}" value="{settings.recordPerPage}" />
		<f:variable name="action" value="google" />
		<div class="ns-gallery-google-view">
			<div class="GITheWall ajax-{getContentId}" id="ajax-{getContentId}">
				<f:if condition="{version} == 'custom'">
					<ul class="dflex flex-wrap cus-row">						
						<f:for each="{paginator.paginatedItems}" as="media" iteration="i">
							<li class="ajaxBlock ns-gallery-google-view-item" data-contenttype="image" data-href="{f:uri.image(image:media)}">
								<a href="javascript:;" class="ns-gallery-item">
									<img src="{f:uri.image(image:media)}" alt="NS Gallery">
								</a>
							</li>
						</f:for>						
					</ul>
					<f:render partial="Pagination.html" arguments="{_all}" />
				</f:if>
			</div>
		</div>
	</f:section>
</html>