<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="content">
		<input type="hidden" name="totNews" id="totNews-ajax-{getContentId}" value="<f:count>{nsAlbums}</f:count>" />
		<input type="hidden" name="perPage" id="perPage-ajax-{getContentId}" value="{settings.recordPerPage}" />
		<div class="ns-gallery-google-view">
			<div class="GITheWall ajax-{getContentId}" id="ajax-{getContentId}">
				<f:widget.paginate objects="{nsAlbums}" as="paginated" configuration="{itemsPerPage: settings.recordPerPage, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 2, addQueryStringMethod: 'GET'}">
					<ul class="dflex flex-wrap cus-row">						
						<f:for each="{paginated}" as="media" iteration="i">
							<li class="ajaxBlock ns-gallery-google-view-item" data-contenttype="image" data-href="{f:uri.image(image:media.media.0, treatIdAsReference: 1)}">
								<a href="javascript:;" class="ns-gallery-item">
									<img src="{f:uri.image(image:media.media.0, treatIdAsReference: 1)}" alt="NS Gallery">
								</a>
							</li>
						</f:for>						
					</ul>
				</f:widget.paginate>
			</div>
		</div>
	</f:section>
</html>