<f:widget.paginate objects="{nsAlbums}" as="paginated"
    configuration="{itemsPerPage: settings.recordPerPage, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 2, addQueryStringMethod: 'GET', id:ajax-getContentId}">
    <div class="cus-row">
        <f:for each="{paginated}" as="album" iteration="i">
            <f:render section="layout2" arguments="{album:album,getContentId:getContentId}" />
        </f:for>
    </div>

</f:widget.paginate>
<f:section name="layout2">
    <div class="ns-gallery-album-item ajaxBlock">
        <div class="ajax-{getContentId} ns-gallery-album-items {constant.zoomIcon} nsGallery nsGallery-{getContentId}">
            {f:variable(name: 'albumsMedia', value: 0)}
            <f:for each="{album.media}" as="media" iteration="i">
                <f:for each="{media.media}" as="media2" iteration="a">
                    <f:if condition="{i.isFirst}">
                        <f:then>
                            <f:if condition="{a.isFirst}">
                                <f:then>							
                                    <f:render section="renderMedia" arguments="{file:media2, poster:media.poster.0, cycle:i.cycle}" />
                                    {f:variable(name: 'albumsMedia', value: '{albumsMedia + 1}')}
                                </f:then>
                                <f:else>
                                    <f:render section="renderMediaNone" arguments="{file:media2, poster:media.poster.0, cycle:i.cycle}" />
                                    {f:variable(name: 'albumsMedia', value: '{albumsMedia + 1}')}
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <f:render section="renderMediaNone" arguments="{file:media2, poster:media.poster.0, cycle:i.cycle}" />
                            {f:variable(name: 'albumsMedia', value: '{albumsMedia + 1}')}
                        </f:else>
                    </f:if>
                    
                </f:for>
            </f:for>
        </div>
        <div class="ns-gallery-album-title">
            <h4>{album.title}</h4>
            <p>
                {albumsMedia} <f:translate key="general.photos" extensionName="NsGallery" />
            </p>
        </div>
    </div>
</f:section>
<f:section name="renderMedia">	
    <a href="{f:uri.image(image:file, treatIdAsReference: 1)}" class="ns-gallery-item">
        <img alt="{file.originalResource.title}" src="{f:uri.image(image:file, treatIdAsReference: 1)}" />
    </a>			
</f:section>
<f:section name="renderMediaNone">		
    <a style="display: none;" href="{f:uri.image(image:file, treatIdAsReference: 1)}" class="ns-gallery-item">
        <img alt="{file.originalResource.title}" src="{f:uri.image(image:file, treatIdAsReference: 1)}" />
    </a>			
</f:section>